/*------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------- BODY ---------------------------------------------------*/ 
/*------------------------------------------------------------------------------------------------------------*/
.fondo{
    background-image: url(astral.jpg);
    background-size: cover;
    margin-bottom: 6em;
    width: 100%;
    height: 100%;
}

.fondo2{
    background-image: url(write.png);
    background-size: cover;
    font-size: 1.2em;
    text-align: center;
}

body{
    margin-top: -3em;
}

.box1{
    background-color: rgb(0, 85, 85);
    width: 100%;
    height: 100%;
    font-size: 2em;
    line-height: 100px;
    text-align: center;
    top: -1%;
    }

.box2{
    color: black;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    font-size: 2em;
    line-height: 100px;
    text-align: center;
    top: -1%;
    left: -1%;
    position: sticky;
    margin-top: -1.3em;
    }

.containerLab{
    width: 100%;
    height: 100%;
    
}

.boxLaboral1{
    color: #fff;
    background-image: url(cajaLaboral.png);
    background-size: cover;
    width: 40%;
    height: 50%;
    text-align: center;
    font-size: 20px;
    margin-left: 5%;
    display: block;
    border-style: groove;
    }

.boxLaboral2{
    color: #fff;
    background-image: url(cajaLaboral.png);
    background-size: cover;
    width: 50%;
    height: 30%;
    text-align: center;
    font-size: 20px;
    margin-left: 48%;
    margin-top: -17.6%;
    border-style: groove;
}

.acade1,
.acade2,
.acade3,
.acade4,
.acade5,
.acade6,
.acade7,
.acade8{
    /*background-color: teal;*/
    width: 11.5%;
    height: 18%;
    display: inline-block;
    text-align: center;
    margin-left: 15%;
    color: #fff;
 }


.boxBuda{
    background-image:url(buda.png);
    background-position: center;
    width: 630px;
    height: 120px;
    margin-left: 30%;
    margin-bottom: 5%;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    position: relative;

}
.perfil{
    border-style: groove;
    margin-left: 65%;
    margin-top: -30%;
    display: block;
    
    
}

.h3{
    text-align: center;
    margin-left: -33%;
    margin-top: 4%;
    display: block;
    
}

.p1{
    font-style: italic;
    font-size: 30px;

}

.p4{    
    font-style: italic;
    text-align: center;
    background-image: url(transparente2.gif);
    color: yellow;
    font-size: 27px;
    background-size: cover;
    background-attachment: fixed;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box1,
.p1,
.p2,
.p3,
.h1,
.h2,
.h3,
.h4{
    color: #fff;
    text-align: center;
}
.p1:hover,
.p2:hover,
.p3:hover {
    color: blueviolet;
    display: block;
}

.form{
    text-align: center;
    color: #fff;
}

.button_form{
    padding: 10px;
    color: aliceblue;
    background-color: red;
    border: 2.5px solid green;
    border-radius: 9px;
}

.button_form:hover{
    color: green;
    background: #fff;
    border: 1px solid red;
    border-radius: 9px;

}

.input:focus,
.msjWeb:focus{
    background-color: coral;
}

.input,
.msjWeb{
    background-color: tan;
}

.msjWeb{
    width: 350px;
    height: 150px;

}

.navega{
    color: #fff;
    background-color: darkslategrey;
    text-decoration: none;
    display: block;
    padding: .2em;
    font-size: 1.5em;
    text-align: center;
}
.navega:hover{
    color: brown;
}

.h4{
    text-align: center;
    font-size: 2em;
    margin-top: 75px;
    margin-bottom: 75px;
}

.h4_2{
    color: black;
    text-align: center;
    font-size: 2em;
    margin-top: 75px;
    margin-bottom: 75px;
}

.h4:target{
padding-top: 95px;
}

.p4_2{
    color: black;
}

.atajo{
    color: #fff;
}

/*------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------- FOOTER --------------------------------------------------*/ 
/*------------------------------------------------------------------------------------------------------------*/

.footer{
    background-color: darkcyan;
    width:100%;
    font-size: 2em;
    line-height: 100px;
    text-align: center;
    bottom: 0;
    position: fixed;
}

.button:link, 
.button:visited {
    color: blue;
    background-color: antiquewhite; 
    text-decoration: none;
    border-radius: 8px;
}
.button:active{
    transform: scale (.9);
}

.button:hover{
    color: red;
    background: #fff;
    border: 1px solid red;
    border-radius: 9px;

}

.iconito{
    text-align: center;
}
